.content-contact {
    border: 1px solid #B1AFC1;
    border-radius: 10px;
    box-shadow: 0px 4px #B1AFC1, 0px 10px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    margin-bottom: 20px;
    direction: rtl;
}
.text {
    width: 350px;
    height: 35px;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-family: Sahel;
    font-weight: 600;
}
.text:focus-visible {
    outline: none;
}
.text-area {
    min-width: 350px;
    max-width: 350px;
    min-height: 350PX;
    max-height: 350PX;
    font-weight: 400;
}
.btn {
    background-color: #3498db;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
    margin-right: 20px;
}
.btn:hover {
    background-color: #2980b9;
}