.content-home {
    border: 1px solid #B1AFC1;
    border-radius: 10px;
    box-shadow: 0px 4px #B1AFC1, 0px 10px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.content-home_flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}
.content-home_flex1-img {
    max-width: 80%;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.content-home_flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
h3 {
    direction: rtl;
    font-weight: 600 !important;
    margin-bottom: 30px !important;
    border: 1px solid #3498db !important;
    padding: 5px 10px !important;
}
h4 {
    direction: rtl;
    font-weight: 400 !important;
    max-width: 80%;

}
.btns-div {
    margin-top: 20px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.btn {
    background-color: #3498db;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
}
.btn:hover {
    background-color: #2980b9;
}
.btn-contact {
    background: none;
    border: 1px solid #3498db;
    color: #3498db;

}
.btn-contact:hover {
    color: #fff;
}